{% extends "projectbase.html" %}
{% block content %}
    <h2>Add a New Book</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label }} {{ form.title(class_='form-control') }}
            {% for error in form.title.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.author.label }} {{ form.author(class_='form-control') }}
            {% for error in form.author.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.rating.label }} {{ form.rating(class_='form-control') }}
            {% for error in form.rating.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.cover.label }} {{ form.cover(class_='form-control') }}
            {% for error in form.cover.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Add Book</button>
    </form>
{% endblock %}

